<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(titulo)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${titulo} + ' | Finance'">Finance</title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/rG50n4RH/Chat-GPT-Image-5-de-jul-de-2026-02-35-25-1.png">
        <link rel="stylesheet" th:href="@{/css/app.css}">
        <script th:src="@{/js/app.js}" defer></script>
    </head>
</html>
